<h1>Livros disponíveis:</h1>>
<div class="books-container">
  <a href="/">Adicionar livro</a>
  {{#each books}}
   <div>
     #{{this.id}} - <span class="bold">{{this.title}}</span> - {{this.author}}
   </div>
  {{/each}}
</div>