h1 {
  color: red;
}

p {
  color: blue;
}

h2 {
  color: green;
  text-align: center;
  font-size: 50px;
}

/* Este é um comentário */

/* Classes e ids */

.p-texto {
  color: green;
}

#titulo-app {
  color: purple;
  font-size: 40px;
}

/* Cores */
.nome {
 color: orange
}

.hexa {
 color: #6a40c4
}

.rgba {
  color: rgba(17, 197, 214, 1)
}

/* Backgrounds */
.div-background {
  background-image: url('img/por-do-sol.jpeg');
  background-repeat: no-repeat;
  background-size: 100px 100px ;
  height: 300px;
}

h1 {
  text-align: center;
}

.titulo-background {
  background-color: #000;  
  text-align: center;
  color: #fff;
}

/* Fontes */
.family {
  color: #000;
  font-size:40px;
 }

.family.serif {
  color: green;
}

.serif {
  font-family: "times new roman";  
}

.sans-serif {
  font-family: "arial";
}

.monospace {
  font-family: "courier new";
} 

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.bold {
  font-weight: bold;
}

.variant {
  font-variant: small-caps;
}
